*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
  font-family: Arial;
  font-size: 17px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

.content {
position: fixed;
bottom: 200px;
margin-left: 420px;
background: rgba(0, 0, 0, 0.1);
color: #f1f1f1;
width: 37%;
padding: 20px;
height: 300px;
}
h1 {
    margin-left: calc(100% /2.7);
}
p {
    padding: 8px;
    font-size: 22px;
}
button {
    margin-left: 170px;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    padding: 4px;
    margin-top: 20px;
    background-color: darkred;
    
}
button:hover{
    background-color: rgb(255, 71, 157);
}
button a {
    text-decoration: none;
    color: rgb(63, 184, 221);
    
}
button a:hover {
    color: rgb(96, 15, 247);
    
}
  .icons {
      height: 60px;
      margin-top: 15px;
      padding: 9px;
      color: rgb(27, 219, 194);
      font-size: 38px;
      cursor: pointer;
      transition: 1.2s;
      width: 280px;
      margin-left: 90px;
     
  }
  .icons .fa:hover {
      transform: scale(1.2);
  }
  